html{
    overflow-y: hidden;
}

.main_div{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://img.freepik.com/premium-vector/background-with-colorful-shopping-bags-vector-illustration-sale-discount-concept_653240-59.jpg');
}